@mixin shop-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  app-shop {
    .product-toolbar {
      background: transparent;
      .mat-icon {
        text-shadow: 0 0 2px if($is-dark-theme, black, white);
      }
    }
    .ratings {
      box-shadow: none;
      margin: 4px 0;
      .mat-button-toggle-label-content {
        line-height: inherit;
        padding: 0;
        .mat-icon {
          color: #fed430;
          font-size: 16px;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
