<div class="container mat-typography" [dir]="dir">
  <section class="section-products">
    <!-- Iterate products -->
    <ng-container *ngFor="let product of productService.products$ | async; trackBy: productService.trackByProducts">

      <!-- Declare isOpen variable if product is selected -->
      <div class="card-container" [class.opened]="isOpen" *ngFor="let isOpen of [product._id == selectedProduct?._id]">

        <!-- Read default variant and make a card only if it exists -->
        <mat-card *ngIf="product.variants[product.defaults.variant] as variant"
            class="product-card"
            (click)="openProduct(product)">

          <!-- TOOLBAR -->
          <mat-toolbar class="product-toolbar" *ngIf="isOpen">
            <button type="button" class="close-button" mat-icon-button (click)="closeProduct()">
              <mat-icon aria-label="Close">close</mat-icon>
            </button>
          </mat-toolbar>

          <!-- SHOW ALWAYS -->
          <img mat-card-image src="{{ variant['images'][product.defaults.image] }}"
              alt="{{ product.names[currentLang] || product.names['en'] }}">

          <div class="card-details">
            <mat-card-title *ngIf="product.names[currentLang] || product.names['en'] as name">
              {{ name }}
            </mat-card-title>

            <mat-button-toggle-group #group="matButtonToggleGroup" class="ratings" *ngIf="isOpen">
              <mat-button-toggle [value]="stars" *ngFor="let stars of [1, 2, 3, 4, 5]">
                <mat-icon>{{ product.rating - stars >= 0 ? 'star' : (stars - product.rating >= 1 ? 'star_border' : 'star_half') }}</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>

            <mat-card-subtitle>
              {{ variant.currency }} {{ variant.price }}
            </mat-card-subtitle>

            <mat-card-content *ngIf="isOpen && (product.descriptions[currentLang] || product.descriptions['en']) as descriptions">
              <p *ngFor="let desc of descriptions | keyvalue" [innerHTML]="desc.value"></p>
            </mat-card-content>

            <button type="button" mat-raised-button color="accent" class="cart-button"
                *ngIf="isOpen && variant.available && variant.price">
              <mat-icon aria-label="Shopping cart">add_shopping_cart</mat-icon>
              {{ 'ADD_TO_CART' | translate }}
            </button>
          </div>

        </mat-card>
      </div>
    </ng-container>
  </section>
</div>
