.container {
  @media (min-width: 600px) {
    padding: 8px;
  }
  .section-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .product-card {
      cursor: pointer;
      display: inline-block;
      margin: 16px;
      vertical-align: top;
      @media (min-width: 600px) {
        width: 212px;
      }
      &.expanded {
        bottom: 0;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 200ms ease-out;
        width: 100%;
        z-index: 3;
      }
    }
    .rating-container {
      display: inline;
    }
  }
}
