.container {
  @media (min-width: 600px) {
    padding: 8px;
  }
}

.section-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card-container {
    display: inline-block;
    margin: 16px;
    vertical-align: top;
    @media (min-width: 600px) {
      width: 344px; // 16:9 ratio
    }
    .mat-card-image {
      object-fit: contain;
    }
    .mat-card-subtitle {
      margin: 0;
    }
      
    &:not(.opened) {
      cursor: pointer;
      .mat-card {
        box-sizing: border-box;
        height: 100%;
        .mat-card-title {
          font-size: 16px;
        }
      }
      @media (max-width: 599px) {
        // List view, to be used when more products available for a more efficient list scrolling
        /*  
        margin: 0;
        width: 100%;
        .mat-card {
          display: flex;
          padding: 8px 16px;
          .mat-card-image {
            height: 56px; // 16:9 ratio
            margin: 0 20px 0 -16px;
            min-width: 100px;
            width: 100px;
            [dir=rtl] & {
              margin: 0 -16px 0 20px;
            }
          }
          .mat-card-title {
            font-size: 16px;
            margin: 8px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        } */

        // 2 column view, 32px gutters, 16px margins
        width: calc(50vw - 32px);
        .mat-card {
          padding: 24px 16px 16px;
          .mat-card-image {
            height: calc((50vw - 32px) / 16 * 9); // 16:9 ratio
            min-height: calc((50vw - 40px) / 16 * 9); // 16:9 ratio
          }
        }
      }

      @media (min-width: 600px) and (max-width: 767px) {
        // 2 column view, 32px gutters, 24px margins
        width: calc(50vw - 40px);
        .mat-card-image {
          height: calc((50vw - 40px) / 16 * 9); // 16:9 ratio
          min-height: calc((50vw - 40px) / 16 * 9); // 16:9 ratio
        }
      }
      @media (min-width: 768px) {
        // flex colum view, fixed height and width
        .mat-card-image {
          height: 194px; // 16:9 ratio
          margin-bottom: 20px;
          min-height: 194px; // 16:9 ratio
        }
      }
    }

    &.opened {
      bottom: 0;
      height: 100vh;
      left: 0;
      margin: 0;
      overflow-y: scroll;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 3;
      .mat-card {
        border-radius: 0;
        box-sizing: border-box;
        min-height: 100%;
        .product-toolbar {
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
        .mat-card-title {
          margin-bottom: 0;
        }
        .mat-card-subtitle, .mat-card-content {
          margin-bottom: 32px;
        }
        .cart-button {
          text-transform: uppercase;
        }
        @media (max-width: 599px) {
          padding: 16px;
          padding-top: 56px;
          .close-button {
            margin-left: -8px;
            [dir=rtl] & {
              margin-left: 0;
              margin-right: -8px;
            }
          }
          .mat-card-image {
            height: calc(100vw / 16 * 9);  // 16:9 ratio
            margin: -56px -16px 16px -16px;
            min-height: calc(100vw / 16 * 9);  // 16:9 ratio
          }
          .cart-button {
            width: 100%;
          }
        }
        @media (min-width: 600px) {
          padding: 64px 24px 24px;
          padding-top: 64px;
          .mat-card-image {
            height: 337px; // 16:9 ratio
            margin: -64px -24px 24px -24px;
            min-height: 337px; // 16:9 ratio
            width: 600px;
          }
        }
        @media (min-width: 1024px) {
          display: flex;
          .mat-card-image {
            margin: 0 32px 0 0;
            [dir=rtl] & {
              margin: 0 0 0 20px;
            }
          }
        }
      }
    }
  }
}
