@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .header-toolbar {
    background: mat-color($primary);
    transition: background 200ms ease-out;
    &.transparent:not(:hover) {
      background: transparent !important;
      transition: background 200ms ease-in;
    }

    @media (max-width: 599px) {
      .toggle-navbar {
        margin-left: -8px;
        [dir=rtl] & {
          margin-left: 0;
          margin-right: -8px;
        }
      }
    }
    .header-title {
      padding-left: 24px;
      [dir=rtl] & {
        padding-left: 0;
        padding-right: 24px;
      }
    }

  }
}
