@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-header {
    z-index: 2;
  }

  .header-toolbar {
    background: mat-color($primary);
    transition: background 200ms ease-out;
    &.transparent:not(:hover) {
      background: transparent;
      transition: background 200ms ease-in;
    }
    &.search-open {
      background: white !important;
      color: rgba(0, 0, 0, 0.87) !important;
      transition: background 200ms ease-in;
    }

    // deep elements
    .search-form .mat-form-field-wrapper {
      height: 100%;
      padding-bottom: 0;
      .mat-form-field-flex {
        align-items: center;
        height: 100%;
      }
      .mat-form-field-infix {
        border-top: 0;
        .mat-input-element {
          height: 100%;
        }
      }
      .mat-form-field-underline, .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  // deep elements
  .search-autocomplete {
    @media (min-width: 600px) {
      max-height: calc(100vh - 64px - 16px) !important;
    }
    .mat-option .mat-icon {
      margin-right: 24px;
      [dir=rtl] & {
        margin-left: 24px;
        margin-right: 0;
      }
    }
    .mat-optgroup .mat-option:not(.mat-option-multiple) {
      padding-left: 16px;
      [dir=rtl] & {
        padding-right: 16px;
      }
    }
  }
}
