.header-toolbar {
  .flex-spacer {
    flex: 1 1 auto;
  }
  .back-button {
    display: none;
    height: 40px;
    width: 40px;
  }
  .search-form {
    display: none;
  }
  &.search-open {
    .toggle-navbar, .header-title, .flex-spacer, .search-button {
      display: none;
    }
    .back-button {
      display: block;
    }
    .search-form {
      display: block;
      width: 100%;
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
