<header class="header" [dir]="dir">
  <mat-toolbar class="header-toolbar" [ngClass]="headerClass" color="primary">
    <button type="button" mat-icon-button class="toggle-navbar" aria-label="Toggle navbar" (click)="toggleNavbar()">
      <mat-icon aria-label="Side nav toggle icon" class="rtl-mirror">{{ isOpenNavbar ? 'chevron_left' : 'menu' }}</mat-icon>
    </button>

    <h1 class="header-title">{{ headerTitle | translate }}</h1>

    <div class="flex-spacer"></div>

    <form [formGroup]="searchForm" class="search-form">
      <mat-form-field floatLabel="never">
        <button type="button" class="back-button" matPrefix mat-icon-button aria-label="Close Search" (click)="closeSearch()">
          <mat-icon class="rtl-mirror">arrow_back</mat-icon>
        </button>

        <input type="text" matInput placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}" #searchInput formControlName="searchInput" 
            [matAutocomplete]="searchAutocomplete" (input)="onSearchChange($event.target.value)" autofocus>

        <mat-autocomplete #searchAutocomplete="matAutocomplete" mdDropdownItems class="search-autocomplete">
          <mat-option *ngFor="let product of productService.products$ | async | slice:0:3 " [value]="product.names[currentLang] || product.names['en']" 
              (click)="showProduct(product)">
            <mat-icon class="material-icons" aria-label="Open">shop</mat-icon>
            <span *ngIf="product.names">{{ product.names[currentLang] || product.names['en'] }}</span>
          </mat-option>
          <mat-optgroup *ngFor="let searchGroup of searchGroupOptions$ | async" [label]="searchGroup.group" [ngSwitch]="searchGroup.key">
            <mat-option *ngFor="let option of searchGroup.options" [value]="option" 
                (click)="searchProducts(option)">
              <mat-icon aria-label="category" *ngSwitchCase="'category'">category</mat-icon>
              <mat-icon aria-label="size" *ngSwitchCase="'size'">straighten</mat-icon>
              <mat-icon aria-label="color" *ngSwitchCase="'color'" [style.color]="option">colorize</mat-icon>
              <mat-icon aria-label="option" *ngSwitchDefault>search</mat-icon>
              <span>{{ option }}</span>
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>

        <button *ngIf="searchForm.get('searchInput').value" 
            type="button" class="clear-button" matSuffix mat-icon-button aria-label="Clear Search" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <button type="button" class="search-button" mat-icon-button (click)="toggleSearch()">
      <mat-icon aria-label="Search button">search</mat-icon>
    </button>
  </mat-toolbar>
</header>
