.container {
  box-sizing: border-box;
  flex: 1 1 100%;
  max-width: 100%;
  padding: 16px;
  @media (min-width: 960px) {
    flex: 1 1 760px;
    max-width: 760px;
    min-width: 760px;
  }
  h4 {
    margin-top: 16px;
  }
}
