@import '~@angular/material/theming';
@import './app-theme';
@import './styles/general';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-grey, 900);
$accent:  mat-palette($mat-red, A700);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-app-theme($theme);
