@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-footer {
    z-index: 2;
  }
  .footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
    transition: background 200ms ease-out;
    &.transparent:not(:hover) {
      background: transparent !important;
      transition: background 200ms ease-in;
    }
  }
}
