.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  width: 256px; // recommended width to leave at least 56px free space on the smallest handsets

  .navbar-avatar {
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
  }

  .navbar-title {
    font-family: spaceranger;
    line-height: 20px;
    padding-left: 16px;
    white-space: pre-line;
    [dir=rtl] & {
      padding-left: 0;
      padding-right: 16px;
    }
  }

  .imprint .mat-list-icon {
    line-height: 0.55;
    text-align: center;
  }
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  main {
    flex: 1 0 auto;
  }
}
