<mat-sidenav-container class="sidenav-container" [class.desktop]="isDesktop">
  <mat-sidenav
      #navbar
      class="sidenav navbar"
      [fixedInViewport]="!isDesktop"
      [attr.role]="isDesktop ? 'navigation' : 'dialog'"
      [mode]="isDesktop ? 'side' : 'over'"
      [opened]="isDesktop"
      (openedChange)="navbarOpenedChange($event)">
    <mat-toolbar class="navbar-toolbar" color="primary">
      <mat-icon class="navbar-avatar" aria-label="Avatar" svgIcon="logo"></mat-icon>
      <span class="navbar-title">{{ 'APP.TITLE' | translate }}</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of navList"
          [ngClass]="item.class"
          [routerLink]="item.link" 
          routerLinkActive="active-link"
          (click)="closeNavbar()">
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <h4 matLine> {{ item.title | translate }} </h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="contentClass">
    <app-header [dir]="dir"></app-header>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
