.mat-sidenav-container {
  &:not(.desktop) {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. 
      This allows the `<body>` to be our scrolling element for mobile and tablet layouts. */
    flex: 1 0 auto;
    min-height: 100vh;
  }
  &.desktop {
    bottom: 0;
    display: flex;
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. 
      This causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.mat-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  width: 256px; // recommended width to leave at least 56px free space on the smallest handsets

  .navbar-avatar {
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
  }

  .navbar-title {
    font-family: spaceranger;
    padding-left: 16px;
    [dir=rtl] & {
      padding-left: 0;
      padding-right: 16px;
    }
  }

  .imprint .mat-list-icon {
    line-height: 0.55;
    text-align: center;
  }
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: inherit;
  min-height: 100vh;
  &.position-absolute {
    position: absolute;
    width: fill-available;
  }
  main {
    flex: 1 0 auto;
  }
}
